@import '../consts/styles';

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: $app-width;
    margin: 0 auto;

    &-header {
      padding: 32px 0 48px;
    }

    &-children {
      flex: 1;
    }
}
